.panel-display {
  margin: 1em;
}

.panel-2col-stacked {
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-2col-stacked .panel-col-top,
.panel-2col-stacked .panel-col-bottom {
  width: 99.9%;
  clear: both;
}

.panel-2col-stacked .panel-col-top .inside {
  margin-bottom: .5em;
}

.panel-2col-stacked .panel-col-first {
  float: left;
  width: 100%;
}
* html .panel-2col-stacked .panel-col-first {
  width: 100%;
}

.panel-2col-stacked .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}

.panel-2col-stacked .panel-col-last .inside {
  margin: 0 0 1em .5em;
}

.panel-2col-stacked .panel-separator {
  margin: 0 0 1em 0;
}

/* Hide closedquestion title in panel */
.panel-2col-stacked .node-closedquestion .node-title {
  display: none;
}

.panel-2col-stacked .pane-fixed-bottom {
  width: 100%;
  right: 0;
  position: fixed;
  bottom: 0;
  background-color: white;
}
