.seamless-text-statistics {
  border: 1px solid lightgray;
  background-color: ffffdd;
  padding: 1em;
  white-space: normal;
}

.seamless-text-statistics div {
  display: inline-block;
  width: 49%;
}

div.readibilityTrafficLightContainer {
  width: 100%;
}

div.readibilityTrafficLight {
  background: #444;
  height: 22px;
  width: 8px;
  border-radius: 2px;
  padding: 2px;
  cursor: help;
  display: inline-block;
  line-height: 1px;
}

div.readibilityTrafficLightFeedback {
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: auto;
  margin-left: 4px;
}

div.readibilityTrafficLightBulb {
  margin-left: 1px;
  margin-top: 1px;
  border-radius: 6px;
  width: 6px;
  height: 6px;
  background: white;
}

div.readibilityTrafficLightRed.readibilityTrafficLightActive {
  background: red;
}

div.readibilityTrafficLightOrange.readibilityTrafficLightActive {
  background: orange;
}

div.readibilityTrafficLightGreen.readibilityTrafficLightActive {
  background: lightgreen;
}

/* Horizontal layout for radio buttons in ARCS form. */
.group-seamless-arcs .form-radios .form-item {
  display: inline-block;
}

/* Adjust style for ARCS explanation fieldset. */
.group-seamless-arcs .fieldset-wrapper .fieldset-legend {
  font-size: medium;
}
.group-seamless-arcs .fieldset-wrapper fieldset.form-wrapper {
  box-shadow: 0px -1px 0;
}
