/**
 * CSS related to Closed Question in angular app.
 * @url https://www.drupal.org/project/closedquestion
 **/

.node-proteus input,
.node-proteus select,
.node-closedquestion input,
.node-closedquestion select {
  display: inline;
  width: inherit;
  /* vertical-align: top; */
}

.node-closedquestion input[type='checkbox'] {
  vertical-align: inherit;
}

.node-closedquestion input[type='radio'] {
  vertical-align: top;
}

.node-proteus label,
.node-closedquestion label {
  display: inline-block;
  font-size: 1em;
}

.node-proteus label.option,
.node-closedquestion label.option {
  max-width: 80%;
  margin-left: 5px;
}

.cqDdDraggable.ui-draggable {
  font-size: 1em;
  box-shadow: 3px 3px 3px #ccc;
  border: 1px dashed #ccc;
}

.cqDdDraggable.ui-draggable p {
  margin-bottom: 0;
  line-height: 1.2;
}

.cqDDList {
  background: #eee;
  border-radius: 3px;
}

.cqDDList li {
  background-color: #d6e3ea;
  border: 2px solid #00669b;
  border-radius: 3px;
  color: #00669b;
}

#closedquestion-get-form-for fieldset.cq_correct.form-wrapper {
  border-radius: 3px;
  border: #009738 2px solid;
  color: #009738;
}

#closedquestion-get-form-for fieldset.cq_error.form-wrapper {
  border: #e30613 2px solid;
  color: #e30613;
}

/* Fix for extra div added by mathjax */
.node-proteus div.tex2jax,
.node-closedquestion div.tex2jax {
  display: inline-block;
}
