@import 'closedquestion_ng.css';

html,
body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

/* Style set by Drupal for hidden elements in media widget */
.element-invisible {
  display: none;
}

/* Style set by Drupal for field-image-credits */
.field-name-field-image-credits {
  font-size: 80%;
  color: gray;
}

/*#bottom-toolbar .column{
  padding-top:0.5em;
}*/
.seamless-progress-bar {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  height: 1.75em;
  border-radius: 0;
  background-color: #cacaca;
  white-space: nowrap;
}

.seamless-progress-item {
  display: inline-block;
  position: relative;
  float: left;
  border-left: 1px solid white;
  height: 100%;
  background-color: #ddd;
  cursor: pointer;
}

.seamless-progress-review {
  background-color: #f7e1b5;
}
.seamless-progress-review.seamless-progress-selected {
  background-color: #ffae00;
}

.seamless-progress-completed {
  background-color: #e1faea;
}
.seamless-progress-completed.seamless-progress-selected {
  background-color: #0b4;
}

.seamless-progress-selected {
  border-top: dotted;
  border-bottom: dotted;
  background-color: #999;
}

/**
 * Emulate functionality of collapse_text module in angular directive.
 */

fieldset.collapsible {
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
  margin: 1.125em 0;
}

fieldset.collapsed div.fieldset-wrapper {
  display: none;
}

fieldset.collapsible .fieldset-legend {
  background: url(../img/menu-expanded.png) 5px 65% no-repeat;
  padding-left: 15px;
  color: #00669b;
  font-weight: bold;
  cursor: pointer;
}

fieldset.collapsed .fieldset-legend {
  background: url(../img/menu-collapsed.png) 5px 65% no-repeat;;
}

fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
  margin-bottom: 1em;
}

.seamless-player-hide-cq-edit-btn a#cqi_edit_question_btn {
  display: none;
}

seamless-slide {
  flex: 1;
}

.seamless-edit-menu {
  display: inline-block;
}

.seamless-edit-menu .dropdown-pane {
  width: 180px; /* IE gets confused without fixed width */
  padding: 0;
}

.seamless-player-view {
  /*  display:flex;
    flex-direction: column;
    height:100vh;*/
}

.seamless-player-header,
.seamless-print-header {
  padding: 0 1em;
  border-bottom: 1px solid gray;
  color: white;
  background-color: #333;
}

.seamless-player-main {
  /*  overflow: auto;
    display: flex;
    padding: 0 1em;*/
}

.seamless-player-footer {
  font-size: 90%;
  padding: 0.5em 1em;
  color: white;
  background-color: #333;
  border-top: 1px solid gray;
}

.seamless-player-footer .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
  border-top-color: white;
}

.seamless-player-slide-preview {
  padding: 0 1em;
  overflow: visible;
}

.seamless-player-header button,
.seamless-player-header .button,
.seamless-print-header .button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.seamless-player-header .button.transparent,
.seamless-print-header .button.transparent {
  margin: 0;
  background-color: transparent;
  line-height: 1.5em;
  padding: 0.5em 0.55em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.seamless-player-header .button.transparent:hover,
.seamless-print-header  .button.transparent:hover {
  background: gray;
}

.seamless-player-header .button.transparent:focus,
.seamless-print-header .button.transparent:focus {
  outline: none;
}
.seamless-player-header .button.transparent.selected,
.seamless-print-header .button.transparent.selected {
  background-color: #00669b;
}


.seamless-player-header .button small,
.seamless-print-header .button small {
  font-size: 90%;
  color: #ccc;
}


.seamless-player-footer .button {
  margin-bottom: 0.5em;
}


.seamless-player-title {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.seamless-slide-title {
  display: inline;
}

.seamless-slide-completion select {
  width: auto;
  height: auto;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.seamless-pager {
  display: inline-block;
}

.seamless-pager span {
  vertical-align: text-bottom;
}

.seamless-pager button.tiny {
  padding: 1em;
}

.seamless-player-slide {
  width: 100%;
  overflow: auto;
  padding-top: 1em;
  /*  padding: 0 1em; */
}

.seamless-content-wrapper {
  /*  display: flex;*/
}

.seamless-player-text {
}

.seamless-player-image {
}

.seamless-player-cq {
  width: 100%;
  border: 0;
}

.seamless-player-cq .cq-feedback-wrapper {
  margin-bottom: 0.5rem;
}

.seamless-player-cq .cq-feedback-wrapper fieldset {
  padding: 0.5rem;
  padding-top: 0;
}

.seamless-player-image img {
  max-width: 100%; /* Don't stretch images. */
  height: auto;
}

@media screen and (min-width: 40em) {
  /* template-0 left-66% right-33% */
  .seamless-template-0 .seamless-player-left {
    order: 1;
    width: 66%;
    flex: 0 0 66%;
    max-width: 66%;
  }

  .seamless-template-0 .seamless-player-right {
    order: 2;
    width: 33%;
    flex: 0 0 33%;
    max-width: 33%;  /*padding-left: 1em;*/
  }

  /* template-1 left-33% right-66% */
  .seamless-template-1 .seamless-player-right {
    order: 2;
    width: 66%;
    flex: 0 0 66%;
    max-width: 66%;
  }

  .seamless-template-1 .seamless-player-left {
    order: 1;
    width: 33%;
    flex: 0 0 33%;
    max-width: 33%;  /*padding-left: 1em;*/
    /*padding-right: 1em;*/
  }

  /* template-2 left-50% right-50% */
  .seamless-template-2 .seamless-player-left {
    order: 1;
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    /*padding-left: 1em;*/
  }

  .seamless-template-2 .seamless-player-right {
    order: 2;
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    /*padding-left: 1em;*/
  }

  /* template-3 left-50% right-50% */
  .seamless-template-3 .seamless-player-right {
    order: 2;
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .seamless-template-3 .seamless-player-left {
    order: 1;
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    /*padding-right: 1em;*/
  }

  /* Template 4 and 5: columns*/
  .seamless-template-5 .seamless-content-wrapper,
  .seamless-template-4 .seamless-content-wrapper,
  .seamless-template-print .seamless-player-right {
    flex-direction: column;
  }

  /* template-4 text-50% image-50% */
  .seamless-template-4 .seamless-player-right,
  .seamless-template-print .seamless-player-right {
    order: 2;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .seamless-template-4 .seamless-player-left,
  .seamless-template-print .seamless-player-left {
    order: 1;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* template-5 image-50% text-50% */
  .seamless-template-5 .seamless-player-left {
    order: 1;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .seamless-template-5 .seamless-player-right {
    order: 2;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* template-7 left-50% right-50% */
  .seamless-template-6 .seamless-player-left {
    order: 1;
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .seamless-template-6 .seamless-player-right {
    order: 2;
    width: 50%;
    padding-left: 1em;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

div.qrcode {
  position: absolute;
  right: 0px;
  background: #444;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: #333 5px 5px 10px;
  z-index: 5;
  min-width: 150px;
  min-height: 100px;
}

div.qrcode qrcode {
  max-width: inherit;
  margin-bottom: 4px;
}

.menu div.qrcode .button {
  display: inline;
}

div.qrcode qrcode img {
  max-width: none;
  margin-bottom: 0.7rem;
}

div.qrcode .button.highlight {
  animation: pulse 0.3s;
}

@keyframes pulse {
  0% {
    background-color: #00669b;
  }
  100% {
    background-color: #3adb76;
  }
}

@media screen {
  .seamless-print-header {
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  .seamless-print-view {
    margin: 1em;
    margin-top: 70px;
  }
}

.seamless-print-slide-title {
  width: 100%;
  border: 2px solid gray;
  padding: 0.3em;
}

@media print {
  .seamless-print-header {
    display: none;
  }
  .print-slide {
    page-break-inside: avoid;
  }

  /* template-4 text-50% image-50% */
  .seamless-template-print .seamless-player-right {
    width: 100%;
    max-width: 100%;
  }

  .seamless-template-print .seamless-player-left {
    width: 100%;
    max-width: 100%;
  }
}

div.achievements {
  position: absolute;
  right: 0px;
  background: #444;
  padding: 10px;
  border-radius: 5px;
  box-shadow: #333 5px 5px 10px;
  z-index: 5;
  white-space: nowrap;
  min-width: 150px;
  min-height: 50px;
}
