<h5 ng-bind="message"></h5>
<br>
<button type="button" class="button" ng-click="ok()" >{{okCaption}}</button>
<button type="button" class="button" ng-click="cancel()">{{cancelCaption}}</button>
<button type="button" class="close-button" ng-click="cancel()">&#215</button>