<div class="grid-x">
  <h3 class="seamless-player-title cell auto" ng-bind="addingSlide ? 'New Slide' : currentSlide().title"></h3>
  <div class="seamless-edit-menu cell shrink">
    <seamless-qrcode-panel></seamless-qrcode-panel>
    <div style="display: inline-block;" id="edit-tools" ng-if="previewMode">
      <span class="hide-for-small-only" ng-show="slideEditMode && checkDirtySlide()">Remember to save the slide!</span>
      <button type="button" class="button transparent small" ng-click="seamlessPlayerCtrl.setSlideAddMode()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></br><small>Add Slide</small></button>
      <button type="button" class="button transparent small" ng-click="seamlessPlayerCtrl.setSlideEditMode()" ng-hide="slideEditMode || slideCount == 0"><i class="fa fa-edit fa-lg" aria-hidden="true"></i></br><small>Edit Slide</small></button>
      <button type="button" class="button transparent small" ng-click="seamlessPlayerCtrl.setSlideViewMode()" ng-show="slideEditMode"><i class="fa fa-tv fa-lg" aria-hidden="true"></i></br><small>View Slide</small></button>
    </div>
    <seamless-achievements-panel></seamless-achievements-panel>
    <button ng-if="!previewMode" type="button" class="button transparent small" id="btnPrint" ng-click="seamlessPlayerCtrl.PrintPresentation()"><i class="fa fa-print fa-lg"></i></br><small>Print preview</small></button>
    <button ng-if="!previewMode" type="button" class="button transparent small" id="btnExit" ng-click="seamlessPlayerCtrl.Exit()"><i class="fa fa-times fa-lg"></i></br><small>Back</small></button>
  </div>
</div>
