<div style="display: inline-block; position: relative;"
     ng-if="seamlessPlayerCtrl.userCanUseQRCode()"
     ng-hide="slideEditMode">
  <button type="button"
          class="button small transparent"
          ng-class="seamlessPlayerCtrl.showMobileCode ? 'selected' : ''"
          title="Send to mobile link"
          ng-click="seamlessPlayerCtrl.toggleMobileCode(); $event.stopPropagation();">
    <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
    <i class="fa fa-qrcode fa-lg" ></i></br><small>To mobile</small>
  </button>
  <div ng-if="seamlessPlayerCtrl.showMobileCode"
       class="qrcode">
    <qrcode target-url="{{seamlessPlayerCtrl.mobileCodeUrl}}" title="Loading QR code..."></qrcode>
    <br>
    <button title="Click to copy URL to clipboard"
            ng-class="seamlessPlayerCtrl.mobileCodeUrlClicked ? 'highlight' : ''"
            value="{{seamlessPlayerCtrl.mobileCodeUrl}}"
            ng-click="seamlessPlayerCtrl.copyMobileCodeToClipboard()"
            class="button">Copy URL</button>
  </div>
</div>
