<div id="ARCS" class="seamless-arcs-panel" >
  <ul class="dropdown menu" dropdown-menu opens-left=true>
    <li style="color:white;">
      <a style="color:white;">ARCS</a>
      <ul class="menu"  style="top: auto; bottom: 100%;">
        <li>
          <div style="background-color: #333; padding:1em;">
            <div>Attention: <rating value="currentSlide().A"></rating></div>
            <div>Relevance: <rating value="currentSlide().R"></rating></div>
            <div>Confidence: <rating value="currentSlide().C"></rating></div>
            <div>Satisfaction: <rating value="currentSlide().S"></rating></div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>