<div id="bottom-toolbar" class="grid-x grid-margin-x grid-margin-y align-middle" ng-hide="addingSlide">
  <div class="seamless-slide-completion cell shrink  medium-order-1 text-center">
    <select ng-model="currentSlide().completion" ng-options="key as value for (key,value) in  presentation.completion_options">
    </select>
  </div>
  <div class="cell shrink  medium-order-3">
    <span class="seamless-slide-rating hide-for-small-only">Rating:</span><rating value="currentSlide().rating"></rating>
  </div>
  <div class="cell shrink  medium-order-4 hide-for-small-only" ng-if="presentation.arcs_enabled">
    <seamless-arcs-panel></seamless-arcs-panel>
  </div>
  <div class="cell medium-auto medium-order-2" ng-show="slideCount > 0" >
    <div class="grid-x">
      <div class="cell shrink">
        <button type="button" class="button tiny" id="btnPrev" ng-click="Prev()" ng-disabled="currentSlideIdx <= 1"><i class="fa fa-chevron-left"></i></button>
      </div>
      <div class="cell auto">
        <seamless-progressbar></seamless-progressbar>
      </div>
      <div class="cell shrink text-center">
        <span>{{currentSlideIdx}}/{{slideCount}}</span>
        <button type="button" class="button tiny" id="btnNext" ng-click="Next()" ng-disabled="currentSlideIdx >= slideCount"><i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
</div>
