<div class="seamless-player-view grid-y grid-frame">
  <div class="seamless-player-header cell"></div>
  <div class="seamless-player-main cell auto cell-block-container cell-block-y" ng-class="{'seamless-player-hide-cq-edit-btn': !previewMode}">
    <seamless-slide ng-hide="slideEditMode" slide="currentSlide()"></seamless-slide>
    <iframe ng-if="previewMode && keepIframe" ng-show="slideEditMode" ng-src="{{seamlessPlayerCtrl.EditInlineSlideUrl()}}" style="border: 0; width:100%; min-height:100%; flex: 1 1 auto;"></iframe>
  </div>
  <div class="seamless-player-footer cell"></div>
</div>