<div class="seamless-progress-bar">
  <div class="seamless-progress-item" ng-repeat="slideInfo in presentation.slides"
       ng-attr-style="width:{{100 * slideInfo.slide_weight / presentation.total_weight}}%;"
       title="{{slideInfo.title}} - {{presentation.completion_options[slideInfo.completion]}}"
       ng-class="{'seamless-progress-completed': slideInfo.completion == 2,
           'seamless-progress-review': slideInfo.completion == 3,
           'seamless-progress-selected': $index == currentSlideIdx - 1
         }"
       ng-click="GotoSlideNr($index + 1)">
  </div>
</div>
