<div class="seamless-player-slide seamless-template-{{slide.template}}">
  <!--div class="row expanded">
  <h4 class="seamless-slide-title column" ng-bind="slide.title"></h4>
  </div-->
  <div class="seamless-content-wrapper grid-x grid-padding-x">
    <div ng-repeat="(fld, pane) in slide.panes" class="{{fld=='field_slide_paragraphs' ? 'seamless-player-left' : 'seamless-player-right'}} small-12 medium-6 cell">
      <div ng-repeat="item in pane">
        <div ng-if="item.type == 'seamless_text' && item.html" 
             compile-html="item.html" 
             class="seamless-player-text"></div>
        <div ng-if="item.type == 'seamless_image' && item.html"  
             ng-bind-html="item.html | trusted" 
             class="seamless-player-image"></div>
        <cq-form ng-if="item.type == 'seamless_question' && item.questionId"  
                class="seamless-player-cq" 
                context-id ="{{slide.contextId}}"
                qid="{{item.questionId}}"
                update="updateQuestionData(data)"
                scrolling="no"></cq-form>
      </div>
    </div>
  </div>
</div>