<div class="seamless-print-header grid-x">
  <h3 class="seamless-player-title cell auto">Print preview</h3>
  <div class="cell shrink">
        <button type="button" class="button transparent small" id="btnPrint" onclick="window.print()"><i class="fa fa-print fa-lg"></i></br><small>Print</small></button>
  </div>
</div>
<div class="seamless-print-view">
  <div class="print-slide" ng-repeat="slide in presentation.slides">
    <seamless-print-slide slide="slide"></seamless-print-slide>
  </div>
</div>