<div style="display: inline-block; position: relative;">
  <button ng-if="!previewMode" 
          type="button" 
          class="button transparent small" 
          id="btnAchievements" 
          ng-click="seamlessPlayerCtrl.ShowAchievements(); $event.stopPropagation();">
    <i class="fa fa-trophy fa-lg" ng-style="achievementsStyle"></i>
    </br>
    <small>Achievements</small>
  </button>
  <div ng-if="seamlessPlayerCtrl.showAchievements" class="achievements">
    <div>Completed: {{completed}}%</div>
    <div ng-if="closedquestionCount > 0">Correct questions: {{closedquestionScore}}%</div>
    <div ng-if="!percentileRank">Ranking (percentile): <i class="fa fa-spinner fa-spin"></i></div>
    <div ng-if="percentileRank">Ranking (percentile): {{percentileRank}}%</div>
  </div>
</div>
