<div class="seamless-print-slide-title grid-x">
  <h5 class="cell auto">{{slide.title}}</h5>
  <qrcode target-url="{{slideUrl}}" class="cell shrink"></qrcode>
</div>    
<!--<div class="seamless-player-slide seamless-template-{{slide.template}}">-->
<div class="seamless-player-slide seamless-template-print">
  <!--div class="row expanded">
  <h4 class="seamless-slide-title column" ng-bind="slide.title"></h4>
  </div-->
  <div class="seamless-content-wrapper">
    <div ng-repeat="(fld, pane) in slide.panes" class="{{fld=='field_slide_paragraphs' ? 'seamless-player-left' : 'seamless-player-right'}}">
      <div ng-repeat="item in pane">
        <div ng-if="item.type == 'seamless_text' && item.html" 
             compile-html="item.html" 
             class="seamless-player-text"></div>
        <div ng-if="item.type == 'seamless_image' && item.html"  
             ng-bind-html="item.html | trusted" 
             class="seamless-player-image"></div>
        <div ng-if="item.type == 'seamless_question' && item.questionId"
             class="seamless-player-cq">
          <cq-form ng-if="item.type == 'seamless_question' && item.questionId"  
                   class="seamless-player-cq"
                   readonly="true"
                   context-id ="{{slide.contextId}}"
                   qid="{{item.questionId}}" scrolling="no"></cq-form>
          <!--          <qrcode target-url="{{slideUrl}}"></qrcode>-->
        </div>
        <!--        <cq-form ng-if="item.type == 'seamless_question' && item.questionId"  
                        class="seamless-player-cq"
                        readonly="true"
                        context-id ="{{slide.contextId}}"
                        qid="{{item.questionId}}" scrolling="no"></cq-form>-->
      </div>
    </div>
  </div>
</div>